html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: inherit;
}

button {
    border: 0;
    background: none;
    outline: none;
}

.palette {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.palette__menu {
    padding: 24px 16px;
    box-shadow: 0px 1px 8px 2px rgba(34, 60, 80, 0.1);
    background-color: #FFFAFA;
}

.palette__menu p {
    font-size: 1.8rem;
    color: #82898F;
}

.palette__menu button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 0px 16px;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
    background: none;
    font-size: 1.6rem;
    font-weight: 600;
    color: #131313;
    cursor: pointer;
    display: none;
    transition: border-color 0.2s linear;
}

@media (hover) {
    .palette__menu button:hover {
        border-color: #131313;
    }
}

.palette__inner {
    flex-grow: 1;
}

.palette__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.column h2 {
    padding: 10px;
    border-radius: 10px;
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: #FFFAFA;
    transition: background-color 0.2s linear
}

@media (hover) {
    .column h2:hover {
        background-color: rgba(0,0,0,0.1);
        cursor: pointer;
    }
}

.column button {
    padding: 10px;
    border-radius: 10px;
    font-size: 3.2rem;
    color: #FFFAFA;
    transition: background-color 0.2s linear;
}

@media (hover) {
    .column button:hover {
        background-color: rgba(0,0,0,0.1);
        cursor: pointer;
    }
}

@media screen and (max-width: 1439px) {
    .column h2 {
        font-size: 2.8rem;
    }

    .column button {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 1279px) {
    .palette__menu p {
        font-size: 1.6rem;
    }

    .column h2 {
        font-size: 2.4rem;
    }

    .column button {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 1023px) {
    .palette__menu {
        padding: 16px;
    }

    .palette__menu p {
        display: none;
    }

    .palette__menu button {
        display: flex;
    }

    .column h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 767px) {
    .column h2 {
        padding: 8px;
        border-radius: 8px;
        font-size: 1.6rem;
    }

    .column button {
        padding: 8px;
        border-radius: 8px;
        font-size: 2rem;
    }
}

@media screen and (max-width: 575px) {
    .palette__wrapper {
        grid-template-columns: 100%;
    }

    .palette__menu button {
        width: 100%;
    }

    .column h2 {
        padding: 4px;
        border-radius: 4px;
        font-size: 2rem;
    }

    .column button {
        padding: 8px;
        border-radius: 8px;
        font-size: 2.4rem;
    }
}
